<div class="container is-fluid">
  <h1 class="title is-1 pt-6">About Us</h1>
  <p>
    Welcome to our JavaJunction, here we sell coffee beans from around the world.
    Feel free to browse our thorough collection and we hope you find some beans that catch your eye!
  </p>
  <br/>
  <br/>
  <br/>
  <h2 class="title is-3">Entity Relationship Diagram</h2>
  <div class="container">
    <%= image_tag "ERD.drawio.png", alt: "Entity Relationship Diagram" %>
  </div>
</div>