<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%# <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> %>
      <p class="has-text-weight-semibold is-size-4">E-Commerce</p>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>
      <a href="/products" class="navbar-item">
        Product
      </a>
      <a href="/about" class="navbar-item">
        About
      </a>
      <a href="/cart" class="navbar-item">
        Cart🛒
      </a>
    </div>
  </div>
</nav>