<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%# <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> %>
      <p class="has-text-weight-semibold is-size-4">JavaJunction</p>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>
      <a href="/products" class="navbar-item">
        Products
      </a>
      <a href="/category" class="navbar-item">
        Categories
      </a>
      <a href="/about" class="navbar-item">
        About
      </a>
      <a href="/cart" class="navbar-item">
        Cart <%= cart.size %>🛒
      </a>
    </div>
    <div class="navbar-end">
      <% if session[:user_id] == nil %>
      <a href="/login" class="navbar-item">
        Login
      </a>
      <a href="/signup" class="navbar-item">
        Sign Up
      </a>
      <% else %>
      <a href="/account" class="navbar-item">
        My Account
      </a>
      <a href="/logout" class="navbar-item">
        Logout
      </a>
      <% end %>
    </div>
  </div>
</nav>